.ipynb_checkpoints/
__pycache__
#Mask_RCNN-master
mask_rcnn
38env/
instance_segmentation/Mask_RCNN-master/assets/
instance_segmentation/Mask_RCNN-master/images/
instance_segmentation/Mask_RCNN-master/samples/balloon/
instance_segmentation/Mask_RCNN-master/samples/ballon/36env/
instance_segmentation/Mask_RCNN-master/samples/coco/
instance_segmentation/Mask_RCNN-master/samples/shapes/
instance_segmentation/Mask_RCNN-master/samples/nucleus/
mask_rcnn_inception_v2_coco_2018_01_28/
instance_segmentation/ultralytics/
.env